.env
.env.*


docker-compose.override.yml
.docker/

logs/
data/

nifi_repository/
flowfile_repository/
content_repository/
provenance_repository/

splunk_etc/
splunk_var/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp